# SDK token from Quix Portal > Settings > Tokens
Quix__Sdk__Token=

# Output topics
output_results=f1-session-results
output_laps=f1-laps
output_telemetry=f1-telemetry
output_weather=f1-weather

# Race selection
YEAR=2024
GRAND_PRIX=Monaco
SESSION_TYPE=R
